
.context-wrapper {
    width: 100%;
    height: 100%;
}

.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    
    pointer-events: none;
}

.modal-wrapper.is-active {
    pointer-events: auto;
}

.modal {
    display: none;
}

.modal.is-active {
    display: block;
}

#HeroSelect svg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}


/* The MainBody has 
    1. a side menu with cascading submenus
    2. a visual section taking most of the body
    3. an overlay that provides interaction elements for the visual section
 */
.content-wrapper .side-menu {
    position: absolute;
    height: 100%;
    width: 500px;
    left: -500px;
    z-index: 2;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    background-color: white;
    color: orange;
}

.content-wrapper .side-menu .side-menu {
    z-index: 3;
    width: 96%;
}

.content-wrapper .side-menu.is-open {
    transform: translate(500px, 0);
}

#CreateGameMenu, #CreateGameDataMenu {
    color: darkslateblue;
    background-color: white;
    padding: 15px;
}

.context-wrapper .contextual {
    display: none;
}

.context-wrapper .is-active {
    display: flex;
}

.content-wrapper div.contextual {
    width: 100%;
    height: 100%;
}


/* A default graphical selection
 */
.select-items {
    display: flex;
    flex-direction: column;
}

.select-item {
    margin: 5px 5px;
    display: flex;
}

/* Menu used to select games from a list of games. 
    Has filter section then a list section.
*/
#SelectGameMenu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#SelectGameMenu > li {
    display: flex;
    padding: 15px;
}

#SelectGameMenu .select-content {
    width: 300px;
    height: 100%;
}

#SelectGameMenu .select-items {
    margin: 0 auto;
    overflow: scroll;
    overflow-x:hidden;
}

#SelectGameMenu .select-item > button {
    width: 150px;
    height: 100px;
    
    border-radius: 10px;

    font-size: 5em;
    font-weight: 800;
    
    color: #fba;
    background-color: #f9edea;
}

#SelectGameMenu .select-item > button:hover { 
    background-color:  #fba;
    color: #f9edea;
}

#SelectGameMenu .select-item > button:active { 
    background-color:  #fba;
    color: #f9edea;
}

h4 {
    color: orange;
    margin: 5px 0 10px 0;
}
