.nav-wrapper {
    width: 100%;
}

#PrimaryNav {
    position: relative;
    z-index: 3;
    
    height: 50px;
    width: 100%;
    
    color: #2d2d2d;
    background-color: orange;
    opacity: 1;
    
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}

#PrimaryNav * {
    z-index: 3;
    box-sizing: border-box;
    display: flex;
}

#PrimaryNav nav {
    width: 100%;
    height: 100%;
    max-width: 1440px;
}

#PrimaryNav nav.is-open {
    transform: translate(500px, 0px);
}

#PrimaryNav .nav-menu-wrapper {
    position: relative;
}

#PrimaryNav .nav-menu-content {
    position: static;
    top: 100%;
    color: whitesmoke;
}

#PrimaryNav .nav-menu {
    list-style: none;
    flex-direction: row;
    display: flex;
}

#PrimaryNav .nav-menu-item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    opacity: .5;
    transition: all .3s;
}

#PrimaryNav .nav-menu-item:hover {
    position: relative;
    display: flex;
    flex-shrink: 0;
    background-color: whitesmoke;
    opacity: 1;
    color: orange;
}

#PrimaryNav .nav-menu-label {
    position: relative;
    
    padding: 0 20px;
    display: flex;
    font-weight: 700;
    color: inherit;
}

#PrimaryNav .nav-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 2;
    
    min-width: 150px;
    
    background-color: whitesmoke;
    color: #2d2d2d;
        
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}

#PrimaryNav .nav-menu-item:hover > .nav-submenu {
    display: flex;
}

#PrimaryNav .nav-submenu-item {
    padding: 10px 35px;
    transition: .3s;
}

#PrimaryNav .nav-submenu-item:hover {
    background-color: lightgray;
}

