
html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

body, div, header, html, nav, ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    
    color: white;
    
    font-size: 1em;
    font-family: sans-serif;
    
    overflow: hidden;
}

div {
    position: relative;
}

.site-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.content-wrapper {
    display: flex;
    flex: 1 1 auto;
    
    width: 100%;
    height: 100%;
}

.content-wrapper * {
    z-index: 1;
}

.viz-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

svg#MainViz {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

form {
    width: 100%;
    height: 100%;
}

.form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-item {
    margin: 10px 0;
}


.form-item > input, .form-item > select {
    width: 90%;
}

button {
    text-shadow: 0px 0px 2px rgba(0,0,0, .1);
    border: none;
}

button:active {
    text-shadow: 0px 0px 10px rgba(0,0,0,.2);
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,.3);
}

.form-item > button {
    border-radius: 15px;
    
    min-width: 100px;
    min-height: 30px;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    color: whitesmoke;
    background-color: lightsteelblue;
}

.form-item > button:hover {
    background-color: steelblue;
}

.form-item > button:active {
    background-color: steelblue;
}

.hanamura {
    background-image: url(images/HanamuraThumb.png);
}

hr.vertical {
    width: 1px;
    height: 95%;
    color: orange;
    background-color: orange;
    border: none;
}