/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2017, 12:09:47 PM
    Author     : Erick
*/




.required:after { content: " *"; }

#vizContent {
    position: fixed;
    z-index:0;
    height: 100%;
    width: 100%;
}

#topBar, #sideBar {
    position: fixed;
    z-index: 1;
}



#modals, #heroSelect, #inputForm {
    position: fixed;
    display: none;
    z-index: 2;
}

#modals {
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
}

.modal {
    overflow: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 2.5px;
    border: 1px orange solid;
    background-color: white;
}

body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow: hidden;
}

button {
    position:relative;
    font-weight: bold;
    font-family: sans-serif;
    opacity: .5;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

button:hover, button.active, #menuButton:hover {
    opacity: 1;
}