/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 16, 2017, 11:02:49 AM
    Author     : Erick
*/

#topBar {
    background-color: orange;
    width: 100%;
    height: 50px;
    transition:.3s;
}

#topBar button {
    height: 100%;
    width: 150px;
    color: whitesmoke;
    background-color: inherit;
    border: orange 1px solid;
    padding: 15px 15px 15px 15px;
    
}

#menuButton {
    box-sizing: border-box;
    float: left;
    height: 50px;
    position: relative;
    opacity: .5;
    padding: 15px 15px 15px 15px;
    margin: 0px 5px 0px 0px;
    transition: all .3s ease-in-out;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 3px 0;
    transition: 0.4s;
}

#menuButton:hover .bar {
    background-color: orange;
}

.dropdown-content {
    display: block;
    position: fixed;
    top:50px;
    left: 600px;
    height: 200px;
    width: 150px;
    z-index:4;
    background-color: orange;
} 

#topBar button:hover, #topBar button.active, #menuButton:hover, #menuButton.active {
    background-color: white;
    color: orange;
}
#mapsButton.open, #graphsButton.open, #menuButton.open {
    transform: translate(401px, 0);
}

#sideBar {
    padding: 10px 10px 10px 10px;
    top: 50px;
    height: 95%;
    width: 380px;
    left: -410px;
    transition: all .3s ease-in-out;
    background: white;
    border: orange 1px solid;
}

#sideBar.open {
    left: 0px !important;
}
