/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 16, 2017, 11:02:49 AM
    Author     : Erick
*/


:hover, button.active {
    opacity: 1;
}

#topBar button {
    height: 100%;
    width: 150px;
    color: whitesmoke;
    background-color: inherit;
    border: orange 1px solid;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
}
#topBar button:hover, #topBar button.active {
    background-color: white;
    color: orange;
}
#mapsButton.open, #graphsButton.open {
    transform: translate(401px, 0);
}

div#topBar {
    background-color: orange;
    width: 100%;
    height: 5%;
    transition:.3s;
}

div#sideBar {
    position: fixed;
    padding: 10px 10px 10px 10px;
    z-index: 4;
    top: 5%;
    height: 95%;
    width: 380px;
    left: -410px;
    transition: all .3s ease-in-out;
    background: white;
    border: orange 1px solid;
}
div#sideBar.open {
    left: 0px !important;
}
